<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公司简介</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery_180.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div class="header_01">
<div class="header_02">
<div class="top_box">
<h1 class="logo"><a href="首页.html"><img src="images/logo.png"></a></h1>
</div>
</div>
<div class="side_menu_hx">
<ul>            
<li class="moren"><a href="首页.html">公司首页</a></li>
<li class="this"><a href="公司简介.html">公司简介</a></li>
<li class="moren"><a href="行业动态.html">行业动态</a></li>
<li class="moren"><a href="解决方案.html">解决方案</a></li>
<li class="moren"><a href="经典案例.html">经典案例</a></li>
<li class="moren"><a href="开发团队.html">开发团队</a></li>
<li class="moren"><a href="合作模式.html">合作模式</a></li>
<li class="moren"><a href="联系我们.html">联系我们</a></li>
</ul>
</div>
</div>
<!--头部结束-->
<div class="w1000px">
<div class="mian_div">
<div class="about_01">
<div class="about_02">
<li><a href="关于我们.html">关于我们</a></li>
<li class="this"><a href="加入我们.html">加入我们</a></li>
<li><a href="联系我们.html">联系我们</a></li>
<li><a href="合作模式.html">合作模式</a></li>
<li><a href="加入我们.html">加入我们</a></li>
<li><a href="广告及服务.html">广告及服务</a></li>
<li><a href="常见问题及解答.html">常见问题及解答</a></li>
</div>
<h1 class="about_box">加入我们</h1>
<div class="about_nro1">
<div>===============================<strong>产品设计</strong>===============================</div>
<div><br>
</div>
<div><strong>产品经理(2名)</strong></div>
<div>工作职责:</div>
<div>1、负责虎嗅网新产品的规划、设计，以及现有产品的优化</div>
<div>2、分析产品运营数据,不断完善和优化产品,提升产品的用户体验</div>
<div>3、确定开发计划,与团队密切配合,协调项目资源,跟踪项目进度,以顺利完成项目并达成目标</div>
<div><br>
</div>
<div>职位要求:</div>
<div>1、熟悉互联网,熟悉信息传播,具有敏锐的嗅觉，对互联网热门产品和服务有一定的洞察力和见解</div>
<div>2、具有优秀的计划能力、组织能力和执行能力,能够推动整个团队朝预定的目标快速前进</div>
<div>3、有较强的学习创新能力,逻辑思维能力,责任心强,具有良好的沟通能力和团队合作意识</div>
<div>4、注重用户交互体验者或3年以上的互联网产品经理相关经验者优先考虑</div>
<div><br>
</div>
<div>----------------------------------------------------------------------------------------------------------------------</div>
<div><br>
</div>
<div><strong>网页设计师(1名)</strong></div>
<div>工作职责：</div>
<div>1、负责网站页面设计与UI交互</div>
<div>2、负责移动产品UI设计</div>
<div>3、负责内容、推广与运营的相关设计</div>
<div><br>
</div>
<div>职位要求：</div>
<div>1、人机交互、工业设计、视觉设计相关专业</div>
<div>2、了解Css、Javascript、Html等网络技术</div>
<div>3、优秀的GUI、UI界面及交互设计能力，对以人为本的设计理念有深入的理解</div>
<div>4、有大型资讯类网站Web界面、移动终端设计领域相关工作经验，对产品流程、用户交互流程及用户需求有深入理解</div>
<div>5、认真细致，善于创新，对视觉设计追求极致化，敏锐色彩感觉，及出色的观察与产品界面分析能力</div>
<div><br>
</div>
<div><br>
</div>
<div>===============================<strong>技术研发</strong>===============================</div>
<div><br>
</div>
<div><strong>系统研发工程师(2名)</strong></div>
<div><br>
</div>
<div>工作职责： </div>
<div>1、参与高并发的后台处理系统的需求整理和开发工作</div>
<div>2、负责系统功能开发及性能优化、改进</div>
<div>3、编写、分析并优化新的算法或数据结构</div>
<div><br>
</div>
<div>职位要求： </div>
<div>1、熟练掌握PHP\Python、HTML语言，熟悉HTTP协议，具有多线程编程经验</div>
<div>2、具备扎实的数据结构和算法功底，良好的代码习惯</div>
<div>3、有代码架构、数据挖掘等相关开发经验者优先</div>
<div><br>
</div>
<div>----------------------------------------------------------------------------------------------------------------------</div>
<div><br>
</div>
<div><strong>前端工程师(1名)</strong></div>
<div><br>
</div>
<div>工作职责：</div>
<div>1、负责虎嗅网站前端页面的开发与实现</div>
<div>2、负责多平台网站页面的适配与交互</div>
<div><br>
</div>
<div>职位要求：</div>
<div>1、熟练使用JavaScript、Ajax、DOM等前端技术</div>
<div>2、熟悉HTML5/CSS3等相关技术</div>
<div>3、熟悉W3C标准，对表现与数据分离、Web语义化等有深刻理解</div>
<div>4、对用户体验、交互操作流程、及用户需求有深入理解</div>
<div>5、3年以上前端工作经验，有成熟作品</div>
<div><br>
</div>
<div><br>
</div>
<div><br>
</div>
<div>===============================<strong>编辑运营</strong>===============================</div>
<div><br>
</div>
<div><strong>编辑（3名）</strong></div>
<div><br>
</div>
<div>工作职责：</div>
<div>1、负责报道移动互联网、电子商务、文化娱乐、零售消费中一至两个领域里的一切。</div>
<div>2、研发有创新性的内容产品。</div>
<div><br>
</div>
<div>职位要求：</div>
<div>1、对新媒体及所负责的产业有浓厚的兴趣与热情，舍我其谁，不干不行。</div>
<div>2、能承受虎嗅式的压力与节奏。年轻人，敢吗？</div>
<div>3、具备基本商业常识框架，又不愿重复大家都在重复的话，喜欢独立观察。</div>
<div>4、爱跟人打交道，对内有团队精神，对外善于套采访对象的磁。可以害点羞，但别孤僻。</div>
<div>5、头脑清晰有逻辑是第一位的，文风要求其次，简洁清晰就行。</div>
<div>6、最好英语不错。</div>
<div><br>
</div>
<div>----------------------------------------------------------------------------------------------------------------------</div>
<div><br>
</div>
<div><strong>运营推广（1名）</strong></div>
<div><br>
</div>
<div>工作职责：</div>
<div>1、负责包括微博在内的——虎嗅网站外的内容渠道与阵地的内容呈现与推广。</div>
<div>2、负责虎嗅网的UGC内容运营。</div>
<div>3、参与线下活动组织与推广。</div>
<div><br>
</div>
<div>职位要求：</div>
<div>1、对人对事皆敏感，喜欢发现，喜欢交流；能洞察用户心理需求，并以合适的内容满足之。</div>
<div>2、勤奋、自我驱动。能承受琐碎与重复的工作，甘当幕后功臣。</div>
<div>3、熟悉网络社区表达，思维活泼。</div>
<div>4、团队精神。</div>
<div><br>
</div>
<div>===============================<strong>其他岗位</strong>===============================</div>
<div><br>
</div>
<div><br>
</div>
<div><strong>付费实习生（2名）</strong></div>
<div>北京高校在校生（大三、大四或研究生），具体要求可参照上面对编辑的，当然要求水准会降低，但一周至少需工作三个全天。</div>

</div>
</div>
</div>
<div class="clear"></div>
</div>
<!--版权内容开始-->
<div class="w1000px">
<div class="footer_01">
<div class="footer_02">
<a href="#">关于我们</a>|<a href="#">加入我们</a>|<a href="#">广告及服务</a>|<a href="#">常见问题解答</a>|<a href="javascript:void(0);">提交建议</a>
</div>
<div class="footer_03">
版权所有：北京某公司所有 @ 2014
</div>
</div>
<div class="clear"></div>
</div>
<!--返回顶部-->
<div id="fanhui_top">
<div id="fanhui_top_01">
<a id="totop" title="返回顶部"><em></em></a>
</div>
</div>
</body>
</html>
