<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>合作模式</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery_180.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div class="header_01">
<div class="header_02">
<div class="top_box">
<h1 class="logo"><a href="首页.html"><img src="images/logo.png"></a></h1>
</div>
</div>
<div class="side_menu_hx">
<ul>            
<li class="moren"><a href="首页.html">公司首页</a></li>
<li class="moren"><a href="公司简介.html">公司简介</a></li>
<li class="moren"><a href="行业动态.html">行业动态</a></li>
<li class="moren"><a href="解决方案.html">解决方案</a></li>
<li class="moren"><a href="经典案例.html">经典案例</a></li>
<li class="moren"><a href="开发团队.html">开发团队</a></li>
<li class="this"><a href="合作模式.html">合作模式</a></li>
<li class="moren"><a href="联系我们.html">联系我们</a></li>
</ul>
</div>
</div>
<!--头部结束-->
<div class="w1000px">
<div class="hzms_01">
<h1>我们期待与您的携手，以技术驱动企业移动互联网时代价值增长，实现您的商业目标</h1>
<p>我们服务过数百家客户，我们与伙伴共同成长，无线创造新价值</p>
<h1 class="mt_10">服务项目</h1>
</div>
<div class="hzms_02">
<div class="list">
<dl>
<dt><span class="s1"> </span></dt>
<dt>专业的网站设计及开发服务，包括企业网站、互联产品网站、电商网站、社交及应用类网站等。</dt>
</dl>
<ul style="color:#28B463;">
<li>产品网站</li>
<li>企业及品牌网站</li>
<li>电子商务网站</li>
<li>专题网站</li>
<li>前端开发</li>
<li>网站开发</li>
</ul>
</div>
<!--list-->
<div class="list">
<dl>
<dt><span class="s2"> </span></dt>
<dt>为移动设备、平板电脑、移动产品等终端提供交互流程及界面设计服务。包括iOS、Android、Win等多平台。</dt>
</dl>
<ul style="color:#3391D0;">
<li>iOS iPhone</li>
<li>iOS iPad</li>
<li>Android Phone</li>
<li>Android Pad</li>
<li>Win Phone</li>

</ul>
</div>
<!--list-->
<div class="list">
<dl>
<dt><span class="s3"> </span></dt>
<dt>提供个性化的App开发方案，服务涵盖微博、微信、网站、手机客户端等社会化营销。</dt>
</dl>
<ul style="color:#1ABC9C;">
<li>Windows</li>
<li>Mac</li>
<li>车载</li>
<li>OA系统</li>
<li>行业软件</li>
<li>其他终端</li>
</ul>
</div>
<!--list-->
<div class="last_list">
<dl>
<dt><span></span></dt>
<dt>企业App设计开发,企业公司的VI识别系统设计,以及微信公众平台研发。</dt>
</dl>
<ul style="color:#EC6D63;">
<li>Logo</li>
<li>VI体系</li>
<li>平面设计</li>
<li>品牌App推广</li>
<li>微信公众平台开发</li>
<li>企业App推广</li>
</ul>
</div>
<!--list-->
</div>
<div class="hzms_01">
<h1>项目流程</h1>
<h2>我们与你一起推进项目并协作，共同达到目标</h2>
<p class="mt_15"><img src="images/service.png" /></p>
<h1 class="mt_30">合作伙伴：</h1>
<h3>几年来，我们服务过几百家客户，我们与伙伴共同成长</h3>
</div>
<div class="kehu_con_ul">
<li>米其林轮胎</li>
<li>大众中国</li>
<li>奥迪</li>
<li>雪佛兰</li>
<li>福特汽车</li>
<li>诚联实业</li>
<li>中国电信</li>
<li>中国移动通信</li>
<li>中国网络电视台</li>
<li>中国建筑装饰协会</li>
<li>三星</li>
<li>迪信通</li>
<li>盛大文学</li>
<li>新东方</li>
<li>华图教育</li>
<li>环球时报广告平台</li>
<li>人民军医电子出版社</li>
<li>DELL</li>
<li>法宝</li>
<li>趣付</li>
<li>美家美</li>
<li>麦粒网</li>
<li>新民网</li>
<li>大河网</li>
<li>朝阳区信息网络中心</li>
<li>海尔</li>
<li>今麦郎</li>
<li>爱侬家政</li>
<li>乐创网</li>
<li>滴露</li>
<li>强生</li>
<li>安利</li>
<li>雅姿</li>
<li>纳薇服装设计</li>
<li>天下女人</li>
<li>新娘街 </li>
<li>瑞丽</li>
<li>奥美广告</li>
<li>酒美网</li>
<li>顺驰</li>
<li>郁金香</li>
<li>金银岛</li>
<li>廿一客</li>
<li>麦心食品</li>
<li>友联汽车出租</li>
<li>大捷国际</li>
<li>动感小捕快</li>
<li>瑞丽美妆</li>
<li>大众尚酷R杯挑战赛</li>
<li>友联打车</li>
<li>掌中全房</li>
<li>军医掌上图书馆</li>
<li>雅姿亮白魔镜</li>
<li>纳薇服饰</li>
<li>福动挑战赛</li>
<li>三星HTML网站开发</li>
<li>爱侬家政</li>	
<li>华图公考商城</li>
<li>海尔文化中心</li>			
<li>今麦郎</li>
<li>滴露手机官网</li>
<li>酒美网</li>
<li>戴尔(DELL)html5官网</li>
<li>大捷国际</li>
<li>杜蕾斯</li>
<li>奥迪驾控汇</li>
<li>通用雪佛兰</li>
<li>诚联网</li>
<li>环球时报</li>
<li>中国建筑装饰协会</li>
<li>朝阳区OA</li>
<li>早餐加一勺</li>
<li>精英英语</li>
<li>新民网</li>
<li>大河网</li>
<li>金银岛</li>
<li>结婚攻略</li>
<li>强生美瞳</li>
<li>神马</li>
<li>大众中国</li>
<li>米其林驾趣</li>
<li>郁金香</li>
<li>21cake</li>
<li>麦心食品</li>
<li>小说阅读网</li>
<li>天下女人</li>
<li>萌宝拍拍</li>
<li>万表网</li>
<li>金顶基金官网</li>
<li>融仕国际教育</li>
<li>顺风车</li>
<li>欢乐彩</li>
<li>Ruskin</li>
<li>宝洁HR小游戏</li>
<li>VanishAPP</li>
<li>私人俱乐部</li>
<li>美家美</li>
<li>打车小秘</li>
<li>猎上网</li>
<li>和合谷</li>
<li>去野吧</li>
<li>大众尚酷R杯挑战赛</li>
<li>奥迪A7/A8及FBU</li>
<li>透明爱</li>
<li>家庭药箱</li>
<li>荣庆物流</li>
<li>欧珀莱</li>
<li>白富美那点事</li>
<li>都来邮</li>
<li>中国无烟馆</li>
<li>芙蓉王商学院</li>
<li>法宝</li>
<li>趣付</li>
<li>万全抗敏新浪微博</li>
<li>麦粒网</li>
<li>乐创网</li>
<li>GE校园在线</li>
<li>律云</li>
<li>环球兴学B1C </li>
<li>医学参考网</li>
<li>VIP电话管家</li>
<li>我们的梦想</li>
<li>杜杜同学会</li>
<li>MATT</li>
<li>出面</li>
<li>H计划</li>
<li>e折宝</li>
<li>烟草DEMO</li>
<li>聚乐网</li>
<li>LO-ThisIVOGUE</li>
<li>爱慕电商</li>
<li>中国协同创新网</li>
<li>EBOT</li>
<li>天天彩</li>

<li>致青春</li>
<li>卡乐</li>
<li>康康体检</li>
<li>病友</li>
<li>麦忒</li>
<li>可可花问答APP/辣妈问答</li>
<li>职空间</li>
<li>大汉三通</li>
<li>职引招聘</li>
<li>货吧</li>
<li>东亚运动会</li>
<li>Facedating</li>
<li>Bmw新闻中心</li>
<li>汉字书</li>
<li>AA派对</li>
<li>蜜豆</li>
<li>朝阳区即时通</li>
<li>同城惠</li>
<li>山西科技馆</li>
<li>嘉士伯</li>
<li>红枫小区</li>
<li>多多拼车</li>
<li>宝宝空间</li>
<li>I服务</li>
<li>杀价帮</li>
<li>找律师</li>
<li>如家页面制作</li>
<li>老年手机</li>
<li>诚联i商秘</li>
<li>敲敲</li>
<li>高球社会</li>
<li>老年APP</li>
<li>智能家居</li>
<li>赛车中国</li>
<li>小可爱</li>
<li>基建施工,监理及业主月报</li>
<li>活动助手</li>
<li>惠说</li>

<li>丛岭藏鸡</li>
<li>律师服务</li>
<li>手机百宝箱</li>
<li>好中彩功能机</li>
<li>中和农信</li>
<li>智航</li>

<li>台聲</li>
<li>筷快点 </li>
<li>基金经理管理平台</li>
<li>婚纱及婚庆APP</li>
<li>普华和诚</li>
<li>美食计</li>
<li>Easy Clear（任务管理器）</li>
<li>立即购</li>
<li>试用妆</li>
<li>优佳期</li>
<li>宝宝秀</li>
<li>缤纷生活</li>
<li>联想K2真人CS游戏</li>
<li>CLX项目</li>
<li>CDI繁体版</li>
<li>卖吧</li>
<li>WAP网站开发合作协议</li>
<li>娱乐通点菜</li>
<li>教师客户端</li>
<li>投资创业宝典</li>
<li>BOBO</li>
<li>2012愿望清单</li>
<li>POBook</li>
<li>MDA</li>
<li>电子书籍格式转换</li>
<li>孕妈妈</li>
<li>WAP网站开发合作协议</li>
<li>爱智行</li>
<li>陕西博物馆</li>
<li>大宝洗面奶</li>
<li>高铁APP</li>
<li>互动营销项目开发及协议</li>
<li>环球口语</li>
<li>通用雪佛兰</li>
<li>昆河音响</li>
<li>多普达</li>
<li>奥迪A7/A8及FBU</li>
<li>瑞丽模特大赛</li>
<li>东风裕隆</li>
<li>海尔中央空调</li>
<li>迪士尼游戏</li>			
<li>央视客户端问卷采集系统</li>
</div>
<div class="clear"></div>
</div>
<!--版权内容开始-->
<div class="w1000px">
<div class="footer_01">
<div class="footer_02">
<a href="#">关于我们</a>|<a href="#">加入我们</a>|<a href="#">广告及服务</a>|<a href="#">常见问题解答</a>|<a href="javascript:void(0);">提交建议</a>
</div>
<div class="footer_03">
版权所有：北京某公司所有 @ 2014
</div>
</div>
<div class="clear"></div>
</div>
<!--返回顶部-->
<div id="fanhui_top">
<div id="fanhui_top_01">
<a id="totop" title="返回顶部"><em></em></a>
</div>
</div>
</body>
</html>
