<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>开发团队</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery_180.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div class="header_01">
<div class="header_02">
<div class="top_box">
<h1 class="logo"><a href="首页.html"><img src="images/logo.png"></a></h1>
</div>
</div>
<div class="side_menu_hx">
<ul>            
<li class="moren"><a href="首页.html">公司首页</a></li>
<li class="moren"><a href="公司简介.html">公司简介</a></li>
<li class="moren"><a href="行业动态.html">行业动态</a></li>
<li class="moren"><a href="解决方案.html">解决方案</a></li>
<li class="moren"><a href="经典案例.html">经典案例</a></li>
<li class="this"><a href="开发团队.html">开发团队</a></li>
<li class="moren"><a href="合作模式.html">合作模式</a></li>
<li class="moren"><a href="联系我们.html">联系我们</a></li>
</ul>
</div>
</div>
<!--头部结束-->
<div class="w1000px">
<div class="mian_div">
<div class="tuandui_list03">
<ul class="aboutA"><img src="images/aboutteam.jpg" /></ul>
<ul class="aboutB">
<p>具有创意和执行力的年轻团队，对移动互联网的热爱使他们走在了一起。</p>
<p>他们将贯彻聆科网络认真、高品质和对细节追求的工作态度，为客户创造更多的移动互联网价值。</p>
<li class="photo"><img width="803" height="333" _fcksavedurl="images/about1.jpg" src="images/about1.jpg" alt=""></li>
</ul>
</div>
<div class="tuandui_list01">
<h3 class="t_h2 mt_10"><em class="emtitle">项目部</em><a class="more" href="#">更多&gt;&gt;</a></h3>
</div>
<div class="tuandui_list02">
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
</div>
<div class="tuandui_list01">
<h3 class="t_h2 mt_10"><em class="emtitle">销售部</em><a class="more" href="#">更多&gt;&gt;</a></h3>
</div>
<div class="tuandui_list02">
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
</div>
<div class="tuandui_list01">
<h3 class="t_h2 mt_10"><em class="emtitle">开发部</em><a class="more" href="#">更多&gt;&gt;</a></h3>
</div>
<div class="tuandui_list02">
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
<ul class="jiejue_right04 ml_30">
<li class="tupian"><a href="#"><img src="images/ad_02.png" /></a></li>
<li class="ybjs01">
<h1><a href="#">张鹏飞</a></h1>
<span>学历本科，曾就职于北京飞天诚信、北京达知信息等公司，并担...</span>
<a href="#"><img src="images/xiangxiqk.png" class="xxqk" title="点击查看详细情况" /></a>
</li>
</ul>
</div>
</div>
<div class="clear"></div>
</div>
<!--版权内容开始-->
<div class="w1000px">
<div class="footer_01">
<div class="footer_02">
<a href="#">关于我们</a>|<a href="#">加入我们</a>|<a href="#">广告及服务</a>|<a href="#">常见问题解答</a>|<a href="javascript:void(0);">提交建议</a>
</div>
<div class="footer_03">
版权所有：北京某公司所有 @ 2014
</div>
</div>
<div class="clear"></div>
</div>
<!--返回顶部-->
<div id="fanhui_top">
<div id="fanhui_top_01">
<a id="totop" title="返回顶部"><em></em></a>
</div>
</div>
</body>
</html>
