<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻内容页面</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery_180.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div class="header_01">
<div class="header_02">
<div class="top_box">
<h1 class="logo"><a href="首页.html"><img src="images/logo.png"></a></h1>
</div>
</div>
<div class="side_menu_hx">
<ul>            
<li class="moren"><a href="首页.html">公司首页</a></li>
<li class="moren"><a href="公司简介.html">公司简介</a></li>
<li class="this"><a href="行业动态.html">行业动态</a></li>
<li class="moren"><a href="解决方案.html">解决方案</a></li>
<li class="moren"><a href="经典案例.html">经典案例</a></li>
<li class="moren"><a href="开发团队.html">开发团队</a></li>
<li class="moren"><a href="合作模式.html">合作模式</a></li>
<li class="moren"><a href="联系我们.html">联系我们</a></li>
</ul>
</div>
</div>
<!--头部结束-->
<div class="w1000px">
<div class="mian_div">
<div class="jiejue_fn01">
<div class="news_01">中移动短信升级：融合通信能挑战微信几分？ </div>
<div class="neirong_other"><span>2014-03-01 08:29</span>
<span>
<a href="#">OTT</a><a href="#">中国移动</a><a href="#">运营商</a><a href="#">投稿</a><a href="#">头条</a></span>
</div>
<div class="neirong_box">
<p>近日，中移动通过媒体通报了短信的升级计划，决定将传统的短信、语音业务升级成类似微信的“融合通信”，把手机中原有的“通话”、“消息”、“联系人”，升级为新通话、新消息、新联系。届时，用户不需要单独安装其他应用，就可以直接像WhatsApp、微信等一样发送文字、图片、位置等通信功能。这个最彻底的举动为三大运营商一年以来与OTT的纷争画上了一个句号，但是，这能撼动微信吗？
</p>
<h2>为什么此时高调推出融合通信？</h2>
<p>

去年这个时候，通信运营商还在和微信大打口水战，运营商一致讨伐微信对网络、对通信的影响，中移香港的Jego刚推出就在大陆地区被限，飞聊也胎死腹中。不过OTT的趋势不可逆转，运营商的态度也发生大逆转，先是7月联通联合腾讯推出微信沃卡，这算是与OTT的第一次拥抱，算是试探性合作，力度还不算大。8月电信联合网易推出易信，运营商不再隔岸观火，而是借助互联网公司进入OTT。但作为实力最强、市场份额最大的中国移动，却迟迟没有动作。
</p>
<p>
这对移动是个艰难的选择。一方面，移动决定了运营商的走向，移动、联通、电信的移动用户数分别为7.5亿，2.7亿，1.8亿，移动的一举一动都将对三家运营商产生巨大影响，一旦移动扛不住，整个行业都将转向。另一方面，OTT直接导致的是短信的减收，移动13年前三季收入4630亿，按占比7%估计，光短彩前三季收入就达320亿，而联通全年的移动业务收入1511亿，电信移动业务收入估计1200亿左右，可见相比电信和联通，移动真是有说不出的痛。
</p>
</div>
</div>
<!--左边结束-->
<div class="jiejue_right01">
<div class="jiejue_right02">
<h3 class="t_h2 mt_10"><em class="emtitle">本站作者</em><a class="more" href="#">更多&gt;&gt;</a></h3>
<ul class="jiejue_right03">
QQ:372156987<br />电话：010-12345678
</ul>
</div>
<div class="jiejue_right02">
<h3 class="t_h2 mt_10"><em class="emtitle">推荐文章</em><a class="more" href="#">更多&gt;&gt;</a></h3>
<ul class="news_list04">
<li class="tupian"><a href="#"><img src="images/ad_04.jpg" /></a></li>
<li class="ybjs01">
<h1><a href="#">这是一个文章的标题</a></h1>
<span>张三</span>
<span>2014-02-22 21:37</span>
</li>
</ul>
<ul class="news_list04">
<li class="tupian"><a href="#"><img src="images/ad_04.jpg" /></a></li>
<li class="ybjs01">
<h1><a href="#">这是一个文章的标题</a></h1>
<span>张三</span>
<span>2014-02-22 21:37</span>
</li>
</ul>
<ul class="news_list04">
<li class="tupian"><a href="#"><img src="images/ad_04.jpg" /></a></li>
<li class="ybjs01">
<h1><a href="#">这是一个文章的标题</a></h1>
<span>张三</span>
<span>2014-02-22 21:37</span>
</li>
</ul>
<ul class="news_list04">
<li class="tupian"><a href="#"><img src="images/ad_04.jpg" /></a></li>
<li class="ybjs01">
<h1><a href="#">这是一个文章的标题</a></h1>
<span>张三</span>
<span>2014-02-22 21:37</span>
</li>
</ul>
<ul class="news_list04">
<li class="tupian"><a href="#"><img src="images/ad_04.jpg" /></a></li>
<li class="ybjs01">
<h1><a href="#">这是一个文章的标题</a></h1>
<span>张三</span>
<span>2014-02-22 21:37</span>
</li>
</ul>
<ul class="news_list04">
<li class="tupian"><a href="#"><img src="images/ad_04.jpg" /></a></li>
<li class="ybjs01">
<h1><a href="#">这是一个文章的标题</a></h1>
<span>张三</span>
<span>2014-02-22 21:37</span>
</li>
</ul>
</div>
















</div>
</div>
<div class="clear"></div>
</div>
<!--版权内容开始-->
<div class="w1000px">
<div class="footer_01">
<div class="footer_02">
<a href="#">关于我们</a>|<a href="#">加入我们</a>|<a href="#">广告及服务</a>|<a href="#">常见问题解答</a>|<a href="javascript:void(0);">提交建议</a>
</div>
<div class="footer_03">
版权所有：北京某公司所有 @ 2014
</div>
</div>
<div class="clear"></div>
</div>
<!--返回顶部-->
<div id="fanhui_top">
<div id="fanhui_top_01">
<a id="totop" title="返回顶部"><em></em></a>
</div>
</div>
</body>
</html>
